<nav class="page-header">
  <div>

  </div>
  <div>
    <span (click)="scrollTo(experience)">Experience</span>
  </div>
  <div>
    <span (click)="scrollTo(skills)">Skills</span>
  </div>
  <div>
    <span (click)="scrollTo(projects)">Projects</span>
  </div>
  <div>
    <img src="../assets/svgs/github.svg" alt="Github icon">
  </div>
</nav>

<div class="page-content">
  <div class="page-person-container">
    <div>
      <div class="person-text-holder">
        <span class="person-name">
          Michael Frank
        </span>
        <span class="person-description">
          Software Developer
        </span>
      </div>
    </div>
    <img src="../assets/images/myself.jpeg" alt="A picture of me">
  </div>

  <div class="page-scroll-notifier">
    <img src="../assets/svgs/down.svg" alt="Github icon">
  </div>

  <div class="page-section-header" #experience>
    <span>Experiece</span>
    <hr />
  </div>

  <div class="page-experience-container">

  </div>

  <div class="page-section-header" #skills>
    <span>Skills</span>
    <hr />
  </div>

  <div class="page-skills-container">

    <div>
      <div class="page-skills-sub">
        <div>
          <span>
            Languages
          </span>
        </div>
        <div>
          <div class="triple-line">
            <app-skill [skill]="skill" *ngFor="let skill of languages_first"></app-skill>
          </div>
          <div class="dual-line">
            <app-skill [skill]="skill" *ngFor="let skill of languages_second"></app-skill>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="page-skills-sub">
        <div>
          <span>
            Frameworks
          </span>
        </div>
        <div>
          <div class="triple-line">
            <app-skill [skill]="skill" *ngFor="let skill of frameworks_first"></app-skill>
          </div>
          <div class="dual-line">
            <app-skill [skill]="skill" *ngFor="let skill of frameworks_second"></app-skill>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section-header" #projects>
    <span>Projects</span>
    <hr />
  </div>

  <div class="page-projects-container">
    <app-project [project]="project" *ngFor="let project of github_projects"></app-project>
  </div>
</div>